:root {
  --googleblue: #0044cc;
  --prussianblue: #002642;
  --claret: #840032;
  --gamboge: #e59500;
  --gainsboro: #e5dada;
  --richblack: #02040f;
}

html,
body,
div,
h1 {
  margin: 0;
  padding: 0;
}
